@media (max-width: 768px) {
    #about {
        scroll-margin-top: 70px;
    }

    #skills {
        scroll-margin-top: 20px;
    }

    /* ye likhne se mobile meskill click karne perfect jagah poe skill khulega */
    #education {
        scroll-margin-top: 70px;
    }

    #contact {
        scroll-margin-top: 0px;
    }

    #projects {
        scroll-margin-top: -20px;
    }
}



@media (max-width:768px) {

    .profile-img {
        width: 280px;
        height: 280px;
    }

}



@media (max-width:768px) {
    #aboutprojects {
        display: flex;
        flex-direction: column;
    }

    .projecttext h1 {
        padding-left: 50%;
    }

    .projectimage img {
        margin-left: 80px;
    }

    .calculatorbtn {
        margin-left: 5px;
    }

    footer {
        margin-top: 200px;
    }

}







@media (max-width: 768px) {
    .projecttext h1 {
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 80%;
    }

    #academic {
        margin: -80px;
        margin-top: 80px;
        padding: 70px;
    }
}

@media (max-width: 768px) {
    .contact-form {
        width: 100%;
        margin-left: 2px;
    }

    .contact-form button {
        margin-left: 5px;
    }

}

@media (max-width: 768px) {
    .footer-nav ul li a {
  padding:5px;
  margin: 0px;
    }
}